{{- $link := .link -}}
{{- $title := .title -}}
{{- $icon := .icon -}}
{{- $subtitle := .subtitle -}}
{{- $image := .image -}}
{{- $alt := .alt | default $title -}}
{{- $width := .width -}}
{{- $height := .height -}}
{{- $imageStyle := .imageStyle -}}
{{- $tag := .tag -}}
{{- $tagColor := .tagColor | default .tagType | default "" -}}{{- /* Compatibility with previous parameter. */ -}}
{{- $tagBorder := not (eq .tagBorder false) | default true }}
{{- $tagIcon := .tagIcon -}}
{{- $buttonTitle := .buttonTitle -}}
{{- $buttonLink := .buttonLink -}}

{{ $linkClass := "hx:hover:border-gray-300 hx:bg-transparent hx:shadow-xs hx:dark:border-neutral-800 hx:hover:bg-slate-50 hx:hover:shadow-md hx:dark:hover:border-neutral-700" }}
{{- with $image -}}
  {{ $linkClass = "hx:hover:border-gray-300 hx:bg-gray-100 hx:shadow-sm hx:dark:border-neutral-700 hx:dark:text-gray-50 hx:hover:shadow-lg hx:dark:hover:border-neutral-500" }}
{{- end -}}

{{- $external := strings.HasPrefix $link "http" -}}
{{- $href := $link -}}
{{- if strings.HasPrefix $link "/" -}}
  {{- with .page.GetPage $link -}}
    {{- $href = .RelPermalink -}}
  {{- else -}}
    {{- $href = $link | relURL -}}
  {{- end -}}
{{- end -}}

{{- $buttonHref := $buttonLink | default $href -}}
{{- if and $buttonLink (strings.HasPrefix $buttonLink "/") -}}
  {{- with .page.GetPage $buttonLink -}}
    {{- $buttonHref = .RelPermalink -}}
  {{- else -}}
    {{- $buttonHref = $buttonLink | relURL -}}
  {{- end -}}
{{- end -}}
{{- $buttonExternal := strings.HasPrefix $buttonHref "http" -}}


<a
  class="product-card hx:group hx:flex hx:flex-col hx:justify-start hx:overflow-hidden hx:rounded-lg hx:border hx:border-gray-200 hx:text-current hx:no-underline hx:dark:shadow-none hx:hover:shadow-gray-100 hx:dark:hover:shadow-none hx:shadow-gray-100 hx:active:shadow-sm hx:active:shadow-gray-200 hx:transition-all hx:duration-200 {{ $linkClass }}"
  {{- if $link -}}
    href="{{ $href }}"
    {{ with $external }}target="_blank" rel="noreferrer"{{ end -}}
  {{- end -}}
>
  {{- with $image -}}
    <img
      alt="{{ $alt }}"
      class="product-card-image"
      loading="lazy"
      decoding="async"
      src="{{ $image | safeURL }}"
      {{ with $width }}width="{{ . }}"{{ end }}
      {{ with $height }}height="{{ . }}"{{ end }}
      {{ with $imageStyle }}style="{{ . | safeCSS }}"{{ end }}
    />
  {{- end -}}

  {{- $padding := "hx:p-4" -}}
  {{- with $subtitle -}}
    {{- $padding = "hx:pt-4 hx:px-4" -}}
  {{- end -}}

  <div class="hx:mt-auto">
    <span class="product-card-icon hx:flex hx:font-semibold hx:items-start hx:gap-2 {{ $padding }} hx:text-gray-700 hx:hover:text-gray-900 hx:dark:text-neutral-200 hx:dark:hover:text-neutral-50">
      {{- with $icon }}{{ partial "utils/icon.html" (dict "name" $icon) -}}{{- end -}}
      {{- $title -}}
    </span>
    {{- with $subtitle -}}
      <div class="product-card-subtitle hx:text-sm hx:font-normal hx:text-gray-500 hx:dark:text-gray-400 hx:px-4 hx:mb-4 hx:mt-2">{{- $subtitle | markdownify -}}</div>
    {{- end -}}
  </div>

  {{- with $buttonTitle -}}
    <div class="hx:flex hx:justify-center hx:px-4" style="padding-bottom: 1rem;">
      <span class="not-prose hx:font-medium hx:cursor-pointer hx:px-6 hx:py-2 hx:rounded-full hx:text-center hx:text-white hx:inline-flex hx:items-center hx:gap-2 hx:bg-primary-600 hx:hover:bg-primary-700 hx:focus:outline-hidden hx:focus:ring-4 hx:focus:ring-primary-300 hx:dark:bg-primary-600 hx:dark:hover:bg-primary-700 hx:dark:focus:ring-primary-800 hx:transition-all hx:ease-in hx:duration-200 hx:text-sm">
        {{- . -}}
      </span>
    </div>
  {{- end -}}

  {{- if $tag }}
    {{- partial "shortcodes/badge.html" (dict
      "content" $tag
      "color" $tagColor
      "class" "product-card-tag"
      "border" $tagBorder
      "icon" $tagIcon
      )
    -}}
  {{- end -}}
</a>
{{- /* Strip trailing newline. */ -}}
