<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ .Permalink }}</title>
  <link rel="canonical" href="{{ .Permalink }}">
  <!-- removed meta name="robots" -->
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="0; url={{ .Permalink }}">
</head>

<body>
  <div style="text-align: center; font-size: 1.25rem; line-height: 1.6;">
    <p><strong>You are being redirected.</strong><br>
      If it doesn't happen automatically, please click the link below:</p>
    <p><a href="{{ .Permalink }}">{{ .Permalink }}</a></p>
  </div>
</body>

</html>