<!DOCTYPE html>
<html lang="en">

<head>
  {{ $url := cond (ne (.Params.redirect_url | default "") "") .Params.redirect_url .Permalink }}
  <title>{{ $url }}</title>
  <link rel="canonical" href="{{ $url }}">
  <meta charset="utf-8">
  <meta http-equiv="refresh" content="0; url={{ $url }}">
</head>

<body>
  <div style="text-align: center; font-size: 1.25rem; line-height: 1.6;">
    <p><strong>You are being redirected.</strong><br>
      If it doesn't happen automatically, please click the link below:</p>
    <p><a href="{{ $url }}">{{ $url }}</a></p>
  </div>
  <script>location.replace({{ $url | jsonify | safeJS }});</script>
</body>

</html>
