{{- $socials := slice
  (dict "icon" "icons8-sf-regular-filled-twitter"  "title" "X (Twitter)" "link" "https://x.com/Everappz")
  (dict "icon" "icons8-sf-regular-filled-facebook" "title" "Facebook"    "link" "https://www.facebook.com/everappz")
  (dict "icon" "icons8-sf-regular-filled-reddit"   "title" "Reddit"      "link" "https://www.reddit.com/r/everappz/")
  (dict "icon" "icons8-sf-regular-filled-vk"       "title" "VK"          "link" "https://vk.com/everappz")
  (dict "icon" "icons8-sf-regular-filled-github"   "title" "GitHub"      "link" "https://github.com/everappz")
  (dict "icon" "icons8-sf-regular-filled-linkedin" "title" "LinkedIn"    "link" "https://www.linkedin.com/company/everappz/")
  (dict "icon" "icons8-sf-regular-filled-youtube"  "title" "YouTube"     "link" "https://www.youtube.com/@everappz")
  (dict "icon" "icons8-sf-regular-filled-tiktok"   "title" "TikTok"      "link" "https://www.tiktok.com/@everappz")
-}}

<div class="hextra-cards hx:mt-4 hx:gap-4 hx:grid not-prose" style="--hextra-cards-grid-cols: 3;">
  {{- range $socials -}}
    {{- partial "shortcodes/card" (dict "link" .link "title" .title "icon" .icon) -}}
  {{- end -}}
</div>
