{{ if .IsHome }}

  <!-- Evervideo Promo -->
  <meta name="apple-itunes-app" content="app-id=6602897336">

  <!-- Social Image Meta -->
  <meta property="og:image" content="{{ "images/ea-logo/ea_logo_black_1024.jpg" | absURL }}">
  <meta property="og:image:width" content="1024">
  <meta property="og:image:height" content="1024">
  <meta property="og:image:type" content="image/jpeg" />
  <meta property="og:image:alt" content="Everappz Logo Image" />

  <meta name="twitter:image" content="{{ "images/ea-logo/ea_logo_black_1024.jpg" | absURL }}">

{{ end }}